html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', Verdana, Calibri, serif;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url(../images/background/space.png);
    background-size: cover;
    -ms-filter: blur(5px);
    filter: blur(5px);
    transform: scale(1.25);
    position: absolute;
    z-index: -99;
}