.header {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.player-infos {
    display: flex;
    flex-direction: column;
}

.player-infos h1 {
    text-transform: uppercase;
    margin: 0;
}

.player-infos .health {
    color: red;
}

.player-infos .shield {
    color: dodgerblue;
}

.movements {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    flex: 1;
}

.movements i {
    font-size: 3rem;
}

.movements i:hover {
    cursor: pointer;
    color: lawngreen;
}

.move-point {
    color: lawngreen;
    font-size: 1.5rem;
}
