#main
{
	margin: auto;
	text-align: center;
	position: absolute;
	top: 100px;
}

.fields
{
	display: inline-block;
	text-align: left;
	width: 100px;
}

#main input
{
	left: 100px;
	position: absolute;
	display: inline-block;
}

img.thu
{
	width: 150px;
	height: 200px;
}
