body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    position: absolute;
    width: 100%;
    background-color: gray;
}

nav > ul {
    margin: 0;
    padding: 0;
}

nav > ul > li {
    float: left;
    position: relative;
    margin-right: 3%;
}

nav li {
    list-style-type: none;
}

nav > ul > li > p {
    padding: 1vw 1.5vw;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.submenu {
    display: none;
}

.subsubmenu {
    display: none;
}

.submenu > li > a {
    width: 20vw;
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 1vw;
}

.submenu > li:hover > .subsubmenu {
    display: inline-block;
    position: absolute;
    left: 22.1vw;
    padding: 0;
    z-index: 999;
}

.subsubmenu > li > a {
    width: 20vw;
    display: inline-block;
    text-decoration: none;
    position: relative;
    color: black;
    bottom: 3.45vw;
    padding: 1vw;
}

.subsubmenu > li > a {
    border: 1px solid black;
}

.submenu > li {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

nav > ul > li:hover > .submenu {
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 0;
    z-index: 999;
}

.green {
    background-color: green;
}

.lightblue {
    background-color: lightblue;
}

.pink {
    background-color: pink;
}