/******** GENERAL STYLES ********/

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    font-family: 'Century Gothic', Verdana, Calibri, serif;
    font-size: 15px;
    margin:0px;
    padding:0px;
    color: #333;
    text-align: justify;
    height: 100%;
    background-color: RGB(236,237,237);
}

h1 {
	font-size: 40px;
	font-weight: normal;
	text-align: center;
}

.header h1 {
	position: absolute;
	left: 30px;
	font-size: 40px;
	font-weight: normal;
}

header {
	width: 100%;
}

.header {
	height: 100px;
}

footer {
	height: 80px;
	padding-top: 30px;
	text-align: center;
	background-color: #C5C5C5;
	border-top: 2px solid #AAA;
}

.site-content {
	flex: 1;
}

.site-header,
.site-content,
.site-footer {
	display: table-row
}

section {
	display: block;
}

/******** NAVIGATION ********/

nav {
    font-family: 'Century Gothic', 'Source code pro', Verdana, serif;
    width: 100%;
    background-color: #424558;
}

nav ul {
    margin: 0px;
    padding: 0px;
}

nav > ul::after {
    content: "";
    display: block;
    clear: both;
}

nav li {
	list-style-type: none;
	float: left;
}

nav a {
	display: inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: #FFF;
	text-transform: uppercase;
	font-size: 15px;
}

.table {
	display: table;
	margin: 0 auto;
}

.menu-ind:hover {
	border-top: 5px solid #4C8;
	background-color: rgba(64, 200, 130, 0.15);
}

.menu-inf:hover {
	border-top: 5px solid #F1DC4F;
	background-color: rgba(241, 211, 79, 0.15);
}

.menu-jv:hover {
	border-top: 5px solid #0070BB;
	background-color: rgba(000, 112, 192, 0.15);
}

.menu-c:hover {
	border-top: 5px solid #E44D26;
	background-color: rgba(228, 77, 38, 0.15);
}

.menu-con:hover {
	border-top: 5px solid #FF8000;
	background-color: rgba(255, 128, 000, 0.15);
}

body#ind a#ind {
	background-color: rgba(64, 200, 130, 0.15);
}

body#inf a#inf {
	background-color: rgba(241, 211, 79, 0.15);
}

body#jv a#jv {
	background-color: rgba(000, 112, 192, 0.15);
}

body#c a#c {
	background-color: rgba(228, 77, 38, 0.15);
}

body#con a#con {
	background-color: rgba(255, 128, 000, 0.15);
}

/******** INDEX ********/

.wrapper-section {
	width: 1200px;
	margin: auto;
}

#presentation {
	width: 100%;
    margin: 30px auto;
    border: 2px solid #888;
    box-shadow: 0px 0px 2px #AAA;
    background-color: white;
	text-align: center;
}

#presentation-content {
	padding: 20px 50px;
}

.container {
	overflow: hidden;
}

.block-home {
	background-color: #FBFBFB;
	height: 400px;
	margin: 20px 0px;
}

.block-home:hover {
    box-shadow: 0px 0px 3px #333;
}

.block-home img {
    width: 350px;
    height: 400px;
}

.block-home a:hover {
    box-shadow: 0px 0px 2px #333;
}

#block-jv {
	overflow: hidden;
	border-left: 50px solid #0070BB;
	height: 100%;
}

#block-c {
	overflow: hidden;
	border-right: 50px solid #E44D26;
	height: 100%;
}

.block-desc1 h2, .block-desc2 h2 {
    font-size: 80px;
    font-weight: 400;
    margin: 30px 0px;
    text-align: center;
    letter-spacing: 5px;
}

.block-desc1 p, .block-desc2 p {
    text-align: center;
}

.block-desc1 a, .block-desc2 a {
    padding: 15px 20px;
    background-color: #555;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    margin-top:30px;
    display: block;
    width: 280px;
}

.block-desc1, .block-desc2 {
    width: 800px;
    height: 400px;
}

.block-desc1, .block-image2 {
    float: left;
}

.block-desc2, .block-image1 {
    float: right;
}

.block-image1, .block-image2 {
    width: 350px;
    height: 100%;
}

/******** CONTACT ********/

#contact {
	border-top: 5px solid #FF8000;
	background-color: rgba(255, 128, 000, 0.15);
	width: 100%;
    margin: 30px auto;
}

#contact-content {
	padding: 20px 50px;
}

/******** OTHER ********/

.sec {
	margin: 0px 10%;
}

.left {
	float: left;
	width: 30%;
}

.right {
	float: left;
	width: 70%;
}

.wrapper-section2 {
    width: 800px;
    margin: auto;
}

#presentation2 {
    width: 100%;
    margin: 5px auto;
    border: 2px solid #888;
    box-shadow: 0px 0px 2px #AAA;
    //background-color: #E8E8E8;
    background-color: #2E2E2E;
}

#presentation-content2 {
    padding: 3px 6px;
}

/*.presentation {
	border-top: 5px solid #4C8;
	background-color: rgba(64, 200, 130, 0.15);
}

.presentation:hover {
	border-top: 5px solid #308F5F;
	background-color: rgba(48, 143, 95, 0.15);
}*/

nav li:hover a {
	padding: 15px 30px 20px 30px;
}

@media screen and (max-width: 780px) {
	header {
		height: 50px;
	}

	h1 {
		font-size: 28px;
		margin: 20px 0px 0px 0px;
	}

	nav li a {
		font-size: 12px;
		padding: 10px;
	}

	nav li:hover a {
		padding: 5px 10px 10px 10px;
	}
}

@media screen and (max-width: 1199px) and (min-width: 900px) {
	.wrapper-section {
	    width: 900px;
	}

	.block-home {
		height: 300px;
	}

	.block-home img {
        width: 260px;
        height: 300px;
    }

    .block-desc1 h2, .block-desc2 h2 {
        font-size: 60px;
        margin: 20px 0px;
        letter-spacing: 4px;
    }

    .block-desc1 a, .block-desc2 a {
        padding: 15px 20px;
        top: 20px;
    }

    .block-desc1, .block-desc2 {
        width: 590px;
        height: 300px;
    }

    .block-image1, .block-image2 {
        width: 260px;
        height: 100%;
    }
}

@media screen and (min-width:680px) and (max-width: 899px){
    .wrapper-section {
		width: 100%;
    }
	
    #presentation {
		display:none;
    }
	
    .block-home {
	margin: 20px;
        height: 300px;
    }
	
    .block-desc1 h2, .block-desc2 h2 {
        font-size: 60px;
        margin: 20px 0px;
        letter-spacing: 4px;
    }
    .block-desc1 a, .block-desc2 a {
        padding: 15px 20px;
        top: 20px;
    }
    .block-desc1, .block-desc2 {
        width: 100%;
        height: 300px;
    }
	
    .block-image1, .block-image2 {
        display: none;
    }
}

@media screen and (min-width:500px) and (max-width:679px){
    .wrapper-section {
		width: 100%;
    }
	
    #presentation {
		display:none !important;
    }
	
    .block-home{
	margin: 20px;
        height: 350px;
    }
	
    .block-desc1 h2, .block-desc2 h2 {
        font-size: 40px;
        margin: 20px 0px;
        letter-spacing: 4px;
    }
	
    .block-desc1 a, .block-desc2 a {
        padding: 15px 20px;
        top: 20px;
    }
	
    .block-desc1, .block-desc2 {
        width: 100%;
        height: 350px;
    }
	
    .block-image1, .block-image2 {
        display: none;
    }
}
@media only screen and (max-width:499px){
    .wrapper-section {
		width: 100%;
    }
	
    #presentation {
		display:none !important;
    }
	
    .block-home {
	margin: 20px;
        height: auto !important;
    }
	
    .block-desc1 h2, .block-desc2 h2 {
        font-size: 20px !important;
        margin: 20px 0px;
        letter-spacing: 2px;
    }
	
    .block-desc1 a, .block-desc2 a {
        padding: 15px 20px;
        top: 20px;
	margin-bottom: 10px;
        font-size: 13px;
    }
	
    .block-desc1, .block-desc2 {
        width: 100%;
        height: auto !important;
    }
	
    .block-image1, .block-image2 {
        display: none;
    }

}