html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 75%;
    justify-content: space-between;
}

.header .flex-compononent {
    flex-basis: 30%;
}
