html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 75%;
    justify-content: space-between;
}

.header .searchbar {
    width: 100%;
}

.header .flex-compononent:nth-child(1) {
    flex-basis: 10%;
}

.header .flex-compononent:nth-child(2) {
    flex-basis: 50%;
}

.header .flex-compononent:nth-child(3) {
    flex-basis: 30%;
}