html, body {
    width: 100%;
    background-color: #505050;
    position: absolute;
    overflow: hidden;
    height: 100%;
}

.header {
    position: relative;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    background-color: #909090;
    box-shadow: 0.8vw 0.8vw 1vw black;
}

.header #dof42 {
    margin: 0.5%;
    width: 40%;
}

.header #zoom {
    position: relative;
    float: right;
    margin: 0 auto;
    width: 22%;
    top: 10px;
}

.header #reload {
    position: relative;
    width: 2%;
    float: right;
    margin: 0.5%;
}

.header #close {
    position: relative;
    width: 2%;
    margin: 0.5%;
    float: bottom;
    left: 55.5%;
}

.body {
    display: flex;
    position: relative;
    top: 1rem;
    width: 75%;
    margin: auto;
    justify-content: space-between;
}

.body .left, .body .right, .body .main {
    position: relative;
    border-radius: 10px;
    background-color: #909090;
    box-shadow: 0.8vw 0.8vw 1vw black;
}

.body .left, .body .right {
    height: 23vw;
    flex-basis: 13%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.body .left img, .body .right img {
    width: 4vw;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.body .left .border {
    border: 4px solid red;
}

.body .main {
    height: 29vw;
    flex-basis: 68%;
}

.body .main img {
    width: 98%;
    margin: 1%;
}

.body .main a {
    display: block;
    position: absolute;
}

.body .main #ikea {
    top: 57%;
    left: 32%;
    width: 13%;
    height: 35%;
}

.body .main #apple {
    top: 58%;
    left: 79%;
    width: 18%;
    height: 21%;
}

.body .right #brick {
    width: 80%;
    height: 20%;
    background-image: url('resources/brick.jpg');
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.popup {
    width: 30%;
    position: fixed;
    bottom: 15%;
    left: 10%;
    background-color: #8afb8c;
    border-radius: 10px;
    box-shadow: 0.8vw 0.8vw 1vw black;
}

.popup p {
    font-size: 1vw;
    font-family: sans-serif;
}

.popup #text {
    margin: 0 3%;
}

.popup .italic {
    font-style: italic;
    margin: 0 3%;
}

.popup .red-shadow {
    text-shadow: 0.2vw 0.2vw 0.2vw red;
}

.popup .fat {
    font-size: 2vw;
}

.popup form {
    margin: 1.5% 0 10% 3%;
}

.popup #name {
    width: 70%;
}